@media all {
    body {
        
    }
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Arvo', sans-serif;
}

.menu {
    margin-top: 30px;
}

.topnav {
    z-index: 1;
    overflow: hidden;
    background-color:black;
    position: fixed;
    top:0;
    height: 80px;
    width: 100%;
    margin-left: 0px;
    text-align: center;
}

.topnav a {
    float: center;
    padding: 14px 16px;
    margin: 5px 10px 5px 10px;
    color: #f2f2f2;
    font-size: 22px;
    text-decoration: none;
    border-style: solid;
    border-color:white;
    border-width: 1px;
    display: inline-block;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a:focus {
    background-color: red;
    color: white;
}

.header {
    background-position: center;
    background-size: cover;
    padding: 0px;
    margin-bottom: 60px;
    display: block;
    margin-top: 80px;
    text-align: center;
}

.header img {
    height: 10%;
    width: 100%;
}

.header-content {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-content h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5em;
    letter-spacing: .2em;
    color: white;
    padding: 10rem 0;
    mix-blend-mode: exclusion;
}

.about {
    padding-top: 30px;
    margin-right: -15px;
    margin-left: -15px;
}

.col-para {
    display: block;
    width: 33.33%;
    background:black;
}